{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rui Mata - a20064431 : Progrsamação Web - ULHT/LEI2023</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{% static 'myPortfolio/css/records.css' %}" type="text/css">
        <script src="{% static '/myPortfolio/js/education.js' %}"></script>


        <!-- awesome font includes font + icons -->
        <link href="{% static 'myPortfolio/css/webfonts/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'myPortfolio/css/webfonts/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'myPortfolio/css/webfonts/solid.css' %}" rel="stylesheet" type="text/css">
        
    </head>

    <body > <!-- class="hero-body" inspiration on https://www.youtube.com/watch?v=FTNAAGYGO7I -->       
        
        <nav id="top-nav-bar" class="nav-bar top-nav">
            <h1 class="logo nav-item"><a href="home">Rui Mata</a></h1>
            <ul class="nav-menu">
                <li class="nav-item"><a href="about">about</a></li>
                <li class="nav-item"><a href="projects">projects</a></li>
                <li class="nav-item"><a href="web">web</a></li>
                <li class="nav-item"><a href="blog">blog</a></li>
                <li class="nav-item"><a href="contacts">contacts</a></li>
            </ul>
        </nav> 

        <main class="background-box">
            <section class="background-image-box">
                
                {% block content %}
                {% endblock content %}
                
            </section>
        </main>
       
        <footer>
            <section class="footer-social">
                <a href="https://www.linkedin.com/in/ruimata/" arial-label="Link to linkedin">
                    <i class="fab fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/mata.rui/" arial-label="Link to instagram">
                    <i class="fab fa-instagram" aria-hidden="true"></i></a>
            </section>
            <p class="footer-copyright">ULHT - LEI &copy; 2023</p>
        </footer>
    </body>
</html> 