{% extends 'myPortfolio/struct.html' %}

<!--
{% block navbar %}



{% endblock %}

-->


{% block content %}

    <div class="hero-bottom-text-box">
        <h1 class="hero-bottom-text-large">After graduating fom computer science, I'd love to proceed with my academic progress.</h1>
        <h2 class="hero-bottom-text-small">My main passion would be to pursue a line of investigation aiming the definition or implementation of a solution for someone's issue.</h2>

        <br>
        
        <h1 class="hero-bottom-text">... to touch someone's life!</h1>
    </div>

{% endblock %}
